﻿
    <div> 
       <div class="text-center"><h1>Welcome!</h1>
        <div class="text-center"><img src="~/Images/welcome.png" /></div>
        @Html.ActionLink("Login", "Login", "Home")
        </div>

    </div>
