﻿@using SchoolAdministrationSystem.WebApp.Infrastructure.Models
@model UserModel


    <div>
    <div class="panel-body text-center">
        <h1>Login</h1>
        <div class="row">
            <div class="container">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    @Html.ValidationSummary()

                    @using (Html.BeginForm())
                    {
                        <label>Username</label>
                            @Html.AntiForgeryToken()
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                @Html.TextBox("username", "", new { @class = "form-control", @placeholder = "Username"})
                            </div>

                            <label>Password</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                @Html.Password("password", "", new { @class = "form-control", @placeholder = "Password" })
                            </div>

                            <br /><input type="submit" value="Login" class="btn btn-success" />
                    }
                    <br />
                    <div class="text-center">Welcome, this system is for school members only. You must log in with the password and username provided by the principle</div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

