﻿
@{
    ViewBag.Title = "Main";
}

<h2>Main</h2>

<p class="text-center">Welcome to the main page! You may navigate to any portion of the website with the above links, given you have access to them.</p>

