﻿@using SchoolAdministrationSystem.Domain.Models
@model User

@{
    ViewBag.Title = "User Information";
}

<h2>User Information</h2>

<div class="form-horizontal">
    @using (Html.BeginForm("SaveDetails", "User"))
    {
        <div class="form-group">
            <label class="control-label col-sm-2" for="firstName">First Name:</label>
            <div class="col-sm-8">@Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })</div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="lastname">Last Name:</label>
            <div class="col-sm-8">@Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })</div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email: </label>
            <div class="col-sm-8">@Html.TextBoxFor(x => x.Email, new { @class = "form-control" })</div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="username">Username: </label>
            <div class="col-sm-8">@Html.TextBoxFor(x => x.Username, new { @class = "form-control", @readonly = true })</div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="assignedRole">Role: </label>
            <div class="col-sm-8">@Html.TextBoxFor(x => x.AssignedRole, new { @class = "form-control", @readonly = true})</div>
        </div>
        if (Model.AssignedRole == Role.Student)
        {
                   <div class="form-group">
            <label class="control-label col-sm-2" for="CourseOneCode">Course 1: </label>
            <div class="col-sm-8">@Html.TextBoxFor(x => x.CourseOneCode, new { @class = "form-control", @readonly = true })</div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="CourseTwoCode">Course 2: </label>
            <div class="col-sm-8">@Html.TextBoxFor(x => x.CourseTwoCode, new { @class = "form-control", @readonly = true })</div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="CourseThreeCode">Course 3: </label>
            <div class="col-sm-8">@Html.TextBoxFor(x => x.CourseThreeCode, new { @class = "form-control", @readonly = true })</div>
        </div>
        }
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Save Changes" class="btn btn-default" />
            </div>
        </div>
        

    }
</div>
