﻿@using SchoolAdministrationSystem.WebApp.Infrastructure.Models
@model UserModel


<div>
    <h2>Create User</h2>
    <div class="col-sm-offset-3" style="color:red">
        <h5>@Html.ValidationSummary()</h5>
    </div>
    <br />
@using (Html.BeginForm("CreateUser", "Principle", "post"))
{
    <div class="col-sm-offset-3">
        <h4>Please enter the credentials of the new user</h4>
    </div>
    <br />
        <div class="form-horizontal">
            <div class="form-group">
                <label for="username" class="control-label col-sm-3">Username: </label>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="control-label col-sm-3">Password:</label>
                <div class="col-sm-7">
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label for="firstname" class="control-label col-sm-3">First Name:</label>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.firstname, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.firstname, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label for="lastname" class="control-label col-sm-3">Last Name:</label>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.lastname, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.lastname, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="control-label col-sm-3">Email:</label>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                    <div class="checkbox">
                        <label>@Html.RadioButton("Role", "Administrator") Administrator</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                    <div class="checkbox">
                        <label>@Html.RadioButton("Role", "Teacher") Teacher</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                    <div class="checkbox">
                        <label>@Html.RadioButton("Role", "Student", new {@checked = true}) Student</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                    <input type="submit" value="Create User" class="btn btn-default"/>
                    </div>
                </div>
     </div>
}
    </div>

