﻿

<div>

    <div class="alert alert-success">

    <h3 class="text-center">Welcome, <strong>@User.Identity.Name </strong></h3>
        </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            @Html.ActionLink("Create User", "CreateUser", null, new { @class = "btn btn-success" })<br /><br />
            @Html.ActionLink("View All Users", "ViewUsers", null, new { @class = "btn btn-success" })<br /><br />
            @Html.ActionLink("Create New Course", "CreateCourse", null, new { @class = "btn btn-success"})
        </div>
        <div class="col-md-2">
            <div class="well">
                <p>Welcome, principle.</p>
                <p>You have the highest access to the system. You can view all the users in the school system, create students, delete students, and all the roles that 
                teachers would have!.</p>
            </div>
        </div>
    </div>


</div>
