﻿@using SchoolAdministrationSystem.Domain.Models
@model IEnumerable<User>

@{
    ViewBag.Title = "User Database";
}

<h2>View Users</h2>

<div>
    <table class="table">
        <thead><tr><th>Last Name</th><th>First Name</th><th>Username</th><th>Email</th><th>Role</th></tr></thead>
        <tbody>
            @foreach(User user in Model)
            {<tr>
                <td><b> @user.LastName </b></td><td>@user.FirstName</td>
                <td>@user.Username</td><td>@user.Email</td>
                <td>@user.AssignedRole</td>
                @using (Html.BeginForm("UserInformation", "User", "Post"))
                {
                    <td><input type="submit" value="View Additional Details" class="btn btn-success"/></td>
                    @Html.Hidden("uName",@user.Username);
                }
                

                    @using (Html.BeginForm("DeleteUser", "Principle", "Post"))
                    {
                        <td><input type="submit" value="Delete User" class="btn btn-danger" /></td>
                        @Html.Hidden("name", user.Username);
                    }
            </tr>}
        </tbody>
    </table>
</div>

    <div class="form-inline">
@using (Html.BeginForm("SearchUser", "Principle"))
{
    <div class="form-group">
        <label for="username">Search by username: </label>
        @Html.TextBox("username", null, new { @class = "form-control" })
        <input type="submit" value="Search users" class="btn btn-primary" />
        </div>
}
        <br />
@using (Html.BeginForm("ViewUsers", "Principle"))
{

    <div class="form-group">
    <label for="name">Search by name:</label>
            @Html.TextBox("name", null, new { @class = "form-control" })
            <input type="submit" value="Search users" class="btn btn-primary" />
        </div>
}
        <br />
@using (Html.BeginForm("ViewUsers", "Principle", FormMethod.Get))
{
    <input type="submit" value="Show All" class="btn btn-success" />
}

</div>