﻿<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="/Home/Index">School Administration System</a>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Admin Section", "Index", "principle")</li>
                <li>@Html.ActionLink("Teacher Section", "Index", "Teacher")</li>
                <li>@Html.ActionLink("User Information", "UserInformation", "User")</li>
                @if (!User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Login", "Login", "Home")</li> 
                }
                else
                {
                    <li>@Html.ActionLink("Sign Out", "SignOut", "Home")</li>
                }
            </ul>
        </div>
    </div>
    @if (TempData["Response"] != null)
    {
        <h4 style="color: green" class="text-center">@TempData["Response"].ToString()</h4>
    }
    @if (TempData["Error"] != null)
    {
        <h4 style="color: red" class="text-center">@TempData["Error"].ToString()</h4>
    }
    @RenderBody()

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <hr />
    <label>Michael Webster & Richard Joseph, Fall 2016 <br /> Enterprise Software Systems (Bachelor of Applied Computer Science - Mobile Computing)</label>
</body>
</html>
