﻿

    
    <div class="alert alert-success">

    <h3 class="text-center">Welcome, <strong>@User.Identity.Name </strong></h3>
</div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            @using (Html.BeginForm("ViewAllStudents", "Teacher"))
            {
                <input class="btn btn-success" type="submit" value="View All Students" /><br /><br />
            }

            @using (Html.BeginForm("ViewAllCourses", "Teacher"))
            {
                <input class="btn btn-success" type="submit" value="View All Courses" /><br /><br />
            }
        </div>

        <div class="col-md-2">
            <div class="well">
                <p>Welcome, Teacher.</p>
                <p>
                    You have the ability to view all the students who are currently enrolled in the system, as well as assign them to courses. You can additionally also
                    edit and delete the course that you are in charge of, and view all the students enrolled in any course.
                </p>
            </div>
        </div>

    </div>
           


    
