﻿@model IEnumerable<SchoolAdministrationSystem.Domain.Models.User>

@{
    ViewBag.Title = "View Class List";
}

<h2>Class List For: @ViewBag.courseCode</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        
        
    </tr>
}
    
</table>
<div class="text-center">
    @using (Html.BeginForm("Index", "Teacher"))
    {
        <input class="btn btn-success" type="submit" value="Return" />
    }
</div>