﻿@model IEnumerable<SchoolAdministrationSystem.Domain.Models.User>

@{
    ViewBag.Title = "View All Students";
}

<h2>View All Students</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseOneCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseTwoCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseThreeCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseOneCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseTwoCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseThreeCode)
        </td>
        <td>
        <td>
            @using (Html.BeginForm("EditStudent", "Teacher", FormMethod.Get))
            {
                <input type="submit" value="Edit" class="btn btn-success" />
                @Html.Hidden("userName", item.Username);
            }
        </td> 
           
        
    </tr>
}

</table>
