﻿@using SchoolAdministrationSystem.Domain.Models
@model IEnumerable<Course>

@{
    ViewBag.Title = "View All Courses";
}

<h2>View All Courses</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherForCourse)
        </th>
        <th>
            @Html.DisplayName("Teacher")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherForCourse)
        </td>
        
        <td>
            @if (item.TeacherForCourse == ViewBag.username || ViewBag.auth == Role.Administrator)
            {
                using (Html.BeginForm("EditCourse", "Teacher", FormMethod.Get))
                {
                  
                    <input type="submit" value="Edit" class="btn btn-success" />
                    @Html.Hidden("courseCode", item.CourseCode);
                }
            }
        </td>
        <td>
            @using (Html.BeginForm("ViewClassList", "Teacher", FormMethod.Get))
            {
                <input type="submit" value="View Class List" class="btn btn-success" />
                @Html.Hidden("courseCode", item.CourseCode);
            }
        </td>
        <td>
            @if (item.TeacherForCourse == ViewBag.username || ViewBag.auth == Role.Administrator)
            {
                using (Html.BeginForm("DeleteCourse", "Teacher", FormMethod.Get))
                {
                   
                    <input type="submit" value="Delete" class="btn btn-success" />
                    @Html.Hidden("courseCode", item.CourseCode);
                }
            }
        </td>  
        
    </tr>
}

</table>
